ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: chocolate;
}

/* index.js - BEGIN */
.root-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 10px;
}
/* index.js - END */

/* Nav.js - BEGIN */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.nav {
  display: flex;
}

.nav__link {
  margin-right: 10px;
  font-weight: 700;
  color: black;
}

.nav__link.nav__link--active {
  color: orangered;
}

.theme-switch {
  cursor: pointer;
}
/* Nav.js - END */

/* News.js -BEGIN */
.news-list {
  line-height: 1.75;
  color: gray;
}
.news-item {
  margin-bottom: 10px;
}
.news-item__title {
  font-weight: 700;
}
.news-item__info a {
  text-decoration: underline;
}
/* News.js -END */
