body {
  overflow-y: scroll;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ff6600;
}

/* index.js - BEGIN */
.root-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 0 10px;
  background: #f6f6ef;
}
/* index.js - END */

/* Nav.js - BEGIN */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  background: #ff6600;
  padding-right: 1em;
}

.nav {
  display: flex;
  margin: 10px 0;
}

.nav__link {
  margin-right: 10px;
  font-weight: 700;
  color: wheat;
}

.nav__link.nav__link--active {
  color: white;
}

.theme-switch {
  cursor: pointer;
}
/* Nav.js - END */

/* News.js -BEGIN */
.news-list {
  line-height: 1.75;
  color: gray;
}
.news-item {
  margin-bottom: 10px;
}
.news-item__title {
  font-weight: 700;
}
.news-item__info a {
  text-decoration: underline;
}
/* News.js -END */

/* User.js -BEGIN */
.user-container {
  padding: 2em;
}
.user-info {
  color: gray;
}
/* User.js -END */
