body {
  overflow-y: scroll;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ff6600;
}

/* index.js - BEGIN */
.root-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 0 10px;
  background: #f6f6ef;
}
/* index.js - END */

/* Nav.js - BEGIN */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  background: #ff6600;
  padding-right: 1em;
}

.nav {
  display: flex;
  margin: 10px 0;
}

.nav__link {
  margin-right: 10px;
  font-weight: 700;
  color: wheat;
}

.nav__link.nav__link--active {
  color: white;
}

.theme-switch {
  cursor: pointer;
}
/* Nav.js - END */

/* News.js -BEGIN */
.news-list {
  line-height: 1.75;
  color: gray;
}
.news-item {
  margin-bottom: 10px;
}
.news-item__title {
  font-weight: 700;
}
.news-item__info a {
  text-decoration: underline;
}
/* News.js -END */

/* User.js -BEGIN */
.user-container {
  padding: 2em;
}
.user-info {
  color: gray;
}
/* User.js -END */

/* NewsItem.js -BEGIN */
.news-detail {
  padding: 0 1rem 1rem;
}
.news-detail__title {
  font-size: 1.5rem;
  color: red;
}
.news-detail__info {
  color: gray;
  margin-bottom: 1rem;
}
.news-detail__info em {
  font-style: normal;
  font-weight: 700;
}
.news-detail__info a {
  color: black;
  text-decoration: underline;
}
/* NewsItem.js -END */

/* Comment.js -BEGIN */
.comment-container {
  padding: 0.75rem;
  margin-bottom: 10px;
  margin-left: 10px;
  border-left: 1px solid #ccc;
}
.comment-info {
  color: gray;
}
.comment-folder {
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0.4em 0.6em;
  margin-right: 0.5em;
  cursor: pointer;
}
.comment-folder.fold {
  border-width: 0.6em 0.4em 0;
  border-top-color: gray;
}
.comment-folder.unfold {
  border-width: 0 0.4em 0.6em;
  border-bottom-color: gray;
}

.comment-content {
  padding-left: 20px;
}
/* Comment.js -END */
